body{
  padding-top: 2px;
  padding-left: 26px;
}
.sign-up-button{
  position: absolute;
  top: 30px;    /* Adjust the top distance */
  right: 20px;  /* Adjust the right distance */
}

.auth-buttons {
  display: flex;
  gap: 10px; /* Adjust the space between the buttons */
}

.user-details{
  display: flex;
  gap: 10px; /* Adjust the space between the buttons */
}

.flash {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;

  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.flash.notice {
  background-color: #dff0d8; /* Greenish background for success */
  color: #3c763d; /* Dark green text */
  border: 2px solid #d6e9c6; /* Lighter green border */
}

.flash.alert {
  background-color: #f2dede; /* Red background for errors */
  color: #a94442; /* Dark red text */
  border: 2px solid #ebccd1; /* Lighter red border */
}

/* Style for the link to look like a button */
.new-post-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-post-button:hover {
  background-color: #0056b3;
}
